.noticias{
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}
.noticias-item{
   flex: 1 1 300px;
   margin: 20px 10px;
}
.noticias-item h2{
    font-size: 2.5em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.noticias-item h2::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background:blue;
}

.noticias-item:nth-of-type(3n+1) h2::before{
    background: #ae81ff;
}

.noticias-item:nth-of-type(3n+2) h2::before{
    background: #f9265e;
}

.noticias-item:nth-of-type(3n+3) h2::before{
    background: #66d9eb;
}

.noticias-item p{
    font-size: 1.125em;
    line-height: 1.4;
    color: #122ab2;
}
